.conatiner{
    border: 1px solid rgb(206, 24, 55);
    width: 30%;
    height: 200px;
    margin: 150px;
    padding: 20px;
    background-color: rgb(226, 226, 9);
}
input{
    border: 1px solid saddlebrown;
    border-radius: 8px;
    margin:10px ;
    width: 300px;
    height: 40px;
}

button{
    border:none ;
    margin: 10px;
    background-color: rgb(214, 13, 47);
    width: 60px;
    height: 50px;
    
}